<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mathee_Steophanus_PRG282_ST.Properties.Settings.StudentVaxinationsConnectionString"
            connectionString="Data Source=DESKTOP-8GCK8IN\SQLEXPRESS;Initial Catalog=StudentVaxinations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>